.projectBackOp {
  position: relative;
  z-index: 1;
}
.projectBackOp::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 250ms ease-in;
}
.projectBackOp:hover::after {
  background-color: #550a1d7d;
}
#btn{
    padding: 1rem 1.5rem;
    border-radius: .35em;
    opacity: 0;
    pointer-events: none;
      transition: all 150ms ease-in;

}
.projectBackOp:hover #btn {
    opacity: 1;
  background-color: #057e0f;
  pointer-events: initial;

}